<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Đăng ký</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    </div>
    <div class="container">
      <h3>Đăng ký</h3>
      <table>
        <form action="/register" id="form-data-register" method = "post" enctype = "application / x-www-form-urlencoded">
          <tr>
            <td><label for="phone">Phone:</label></td>
            <td><input type="text" name="phone" id="phone" value="<%= phone %>" placeholder="please enter phone number"/></td>
          </tr>
          <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="text" name="email" id="email" value="<%= email %>" placeholder="please enter email"/></td>
          </tr>
          <tr>
            <td><label for="fullname">Fullname:</label></td>
            <td><input type="text" name="fullname" id="fullname" value="<%= fullname %>" placeholder="please enter fullname"/></td>
          </tr>
          <tr>
            <td><label for="Date">date:</label></td>
            <td><input type="date" name="date" id="date" value="<%= date %>" placeholder="please enter date"/></td>
          </tr>
          <tr>
            <td><label for="Address">address:</label></td>
            <td><input type="text" name="address" id="address" value="<%= address %>" placeholder="please enter address"/></td>
          </tr>
          <tr>
            <td><label for="front_photo">Front photo:</label></td>
            <td><input class="form-control" type="file" accept=".png,.jpg,.gif,.jpeg" id="front_photo" name="front_photo" value=""/></td>
          </tr>
          <tr>
            <td><label for="back_photo">Back photo:</label></td>
            <td><input class="form-control" type="file" accept=".png,.jpg,.gif,.jpeg" id="back_photo" name="back_photo" value=""/></td>
          </tr>
        </form>
      </table>
      <div class="form-group">
        <% if (error.length > 0) { %>
            <div class="alert alert-danger alert-dismissible fade show">
              <%= error %>
            </div>
        <% } %>
      </div>
      <button class="submit-btn" type="submit" form="form-data-register">Đăng ký</button>
      <div>
        Đã có tài khoản ? <a href="/login">Đăng nhập ngay</a>
      </div>
    </div>
  </body>
</html>
